* {
  margin: 0;
}

.invisible {
  display: none;
}

body {
	background-color: #4D5158;
	background-image: url(/images/body.gif);
	color: #ffffff;
	line-height: 1.4;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 85%;

  /*background-color: #eee;*/
  /*background-color: #c8d6ff;*/
  /*background: -webkit-gradient(*/
    /*linear,*/
    /*left top,*/
    /*left bottom,*/
    /*color-stop(0.0, #c6c6c6),*/
    /*color-stop(0.5, #fefefe),*/
    /*color-stop(1.0, #c6c6c6)*/
  /*);*/
}

textarea, input {
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#mobileCheck {
	position: absolute;
	width: 0;
	height: 0;
}

h1 {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 125%;
  font-family: GS, Arial, Helvetica, sans-serif;
  font-weight: normal;
}

#header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
}

#header h2 {
  position: absolute;
  top: 17px;
  left: 6.25em;
  right: 30%;
  overflow: hidden;
  color: white;
  font-size: 160%;
  font-family: GS, Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipse;
}

#tabs {
  position: absolute;
  left: 10em;
  bottom: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}

#tabs li {
  float: left;
  margin: 0 5px 0 0;
  padding: 0;
}

#tabs li.on {
  position: relative;
  z-index: 10;
  font-weight: bold;
}

#tabs a {
  display: block;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 0 20px 0 20px;
  background-color: #CED2D9;
  color: #4c4c4c;
  line-height: 30px;
  text-decoration: none;
}

#tabs li.on a {
  background-color: #ffffff;
}

#linkBack {
  position: absolute;
  right: 20px;
  top: 22px;
}

#linkBack a {
  color: #ffffff;
}

#footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 130px;
}

#center {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 130px;
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.7);
  -moz-box-shadow: 0 0 15px rgba(0,0,0,0.7);
  box-shadow: 0 0 15px rgba(0,0,0,0.7);
  background: #ced2d9;
}

#activity-map {
  position: absolute;
  left: 70%;
  bottom: 2px;
  width: 120px;
  margin-left: 5px;
}

#activity-map .segment {
  overflow: hidden;
  padding: 1px 0;
}

#activity-map .bubble {
  float: left;
  background: #B3B8C5;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  height: 7px;
  width: 7px;
  margin-right: 3px;
}

#viewport {
  position: absolute;
  top: 0;
  left: 0;
  right: 30%;
  bottom: 0;

  -webkit-box-shadow: 0 0 12px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 12px rgba(0,0,0,0.2);
  box-shadow: 0 0 12px rgba(0,0,0,0.2);

  overflow: auto;
}

#stream {
  width: 100%;
  overflow: hidden;
}

#stream > .inner {
  min-height: 600px;
  margin: 0 0 0 10em;
  background-color: #ffffff;
  color: #4c4c4c;
  -webkit-box-shadow: 0 0 12px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 12px rgba(0,0,0,0.2);
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
}

#viewport .message {
  position: relative;
  margin: 0 20px 0 47px;
  margin-left: 20px; /* In the absence of avatars */
}

#viewport .message.tweet {
  background-color: #DEF7FF;
}

#viewport .message .author {
  position: absolute;
  right: 100%;
  width: 10em;
  margin: 1em 37px 0 0;
  color: rgba(0,0,0,0.33);
  text-align: right;
}

#viewport .message.tweet .author {
  position: static;
  width: auto;
  margin: 0;
  padding: 1em 10px 0 10px;
  border-top: 1px solid #CAE2EA;
  color: #747F83;
  text-align: left;
  font-weight: bold;
}

#viewport .message.tweet .author:before {
  content: 'Buzz by ';
}

.avatar {
  width: 24px;
  height: 24px;
  border: 2px solid #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.15);
  -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.15);
  box-shadow: 3px 3px 3px rgba(0,0,0,0.15);
}

#viewport .message .avatar {
  position: relative;
  left: -37px;
  display: block;
  float: left;
  margin: 0.6em -27px -20px 0;
}

#viewport .message.tweet .avatar {
  top: -2.4em;
}

#viewport .message time {
  float: right;
  margin-left: 1em;
  color: #aaa;
}

#viewport .message.tweet time {
  display: none;
}

#viewport .message .content {
  border-top: 1px solid #e5e5e5;
  padding: 1em 0 1em 0;
}

#viewport .message:first-child .content {
  border-top: 0 none #ffffff !important;
}

#viewport .message.tweet .content {
  border-top: 0 none #ffffff;
  padding: 0 10px 1em 10px;
}

#viewport .message .images {
  margin-top: 1.4em;
}

time + .images {
  margin-top: 0 !important;
}

#viewport .message .images img {
  max-width: 90%;
  border: 6px solid #ffffff;
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.3), 3px 3px 6px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0.3), 3px 3px 6px rgba(0,0,0,0.1);
  box-shadow: 0 0 1px rgba(0,0,0,0.3), 3px 3px 6px rgba(0,0,0,0.1);
}

#youLabel {
  position: absolute;
  top: -1px;
  right: 100%;
  margin-right: 57px;
  font-weight: bold;
  text-align: right;
}

.talkbox {
  position: absolute;
  left: 10em;
  right: 30%;
  top: 10px;
  bottom: 10px;
  margin-right: 15px;
  border: 2px solid #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #ced2d9;
  -moz-box-shadow: inset 3px 3px 3px rgba(0,0,0,0.25);
  -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.33);
  box-shadow: inset 3px 3px 3px rgba(0,0,0,0.25);
}

.talkbox .signin {
  color: #67696C;
  font-size: 125%;
  text-align: center;
  line-height: 106px;
}

.talkbox .signin img {
  margin-right: 0.5em;
  vertical-align: middle;
}

.talkbox .signin a {
  color: #67696C;
  font-weight: bold;
}

.talkbox > .inner {
  position: absolute;
  top: 1em;
  left: 45px;
  right: 18px;
  bottom: 10px;
}

.talkbox > .inner > .avatar {
  position: absolute;
  left: -37px;
  top: -0.4em;
}

.talkbox textarea {
  width: 100%;
  height: 4em;
  border: 0 none #ffffff;
  outline: 0 none #ffffff;
  padding: 0;
  background-color: transparent;
  color: #4c4c4c;
  resize: none;
}

.button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 0 none #ffffff;
  border-radius: 3px;
  padding: 0.5em 1em 0.3em 1em;
  background-color: #b2b2b2;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #cccccc),	color-stop(1, #999999));
  background-image: -moz-linear-gradient(center center, #cccccc 0%, #999999 100%);
  color: #4c4c4c;
  font-size: 85%;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.33);
  -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,0.4);
  -moz-box-shadow: 1px 1px 0 rgba(0,0,0,0.4);
  box-shadow: 1px 1px 0 rgba(0,0,0,0.4);
  cursor: pointer;
}

#post-message {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 9em;
}

.qq-upload-list {
  list-style-type: none;
  position: absolute;
  color: white;
}

#right {
  position: absolute;
  right: 0;
  width: 17%;
  padding: 20px 20px 20px 20px;
  color: #696B6F;
  text-align: right;
}

#right h2 {
  margin-top: 1.4em;
  font-size: 100%;
}

#right h2:first-of-type {
  margin-top: 0;
}

#right p {
  margin-top: -8px;
}

.current-contributor-avatars {
  margin-top: 0.2em;
}

.current-contributor-avatars img {
  display: inline-block;
  margin: 0 0 6px 6px;
}

#hashtags div:last-child {
  margin-top: 0.3em;
}