
/* GENERAL ========================================= */

/* Zero default margin & padding around common elements */
article, blockquote, body, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, header, li, nav, ol, p, section, ul {
	margin: 0;
	border: 0 none #FFFFFF;
	padding: 0;
}

html {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	background-color: #4D5158;
	background-image: url(/images/body.gif);
	color: #ffffff;
	line-height: 1.4;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 85%;
	text-align: center;
}

a {
	color: #00a6ff;
	text-decoration: underline;
}

a:visited {
	color: #9966cc;
}

a:hover {
	text-decoration: none;
}

img {
	border: 0 none transparent;
}

input, select, table, textarea {
	font-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

#mobileCheck {
	position: absolute;
	width: 0;
	height: 0;
}




/* HEADER ========================================= */

header {
	position: absolute;
	left: 0;
	width: 100%;
	height: 53px;
	background-color: #ffffff;
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0.2, #ededee),
		color-stop(0.7, #ffffff)
	);
	background-image: -moz-linear-gradient(left center,#ededee 0%, #ffffff 70%);
	text-align: left;
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 15px rgba(0,0,0,0.5);
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

header > h1 {
	float: left;
	width: 255px;
	height: 53px;
	background-image: url(/images/logo.png);
	background-repeat: no-repeat;
	text-indent: -9999px;
}

header > h2 {
	position: absolute;
	top: 15px;
	left: 270px;
	color: #4D5158;
	font-size: 143%;
	font-family: GS, Arial, Helvetica, sans-serif;
	font-weight: normal;
	white-space: nowrap;
	opacity: 0.4;
}

#newRoom {
	position: absolute;
	top: 15px;
	right: 20px;
	color: #316494;
	font-size: 143%;
	font-family: GS, Arial, Helvetica, sans-serif;
	font-weight: normal;
	white-space: nowrap;
}

#newRoom a {
	color: #316494;
	text-decoration: none;
}

#newRoom a:hover {
	text-decoration: underline;
}




/* CONTENT ========================================= */

.callToAction {
	position: absolute;
	top: 74px;
	left: 50%;
	width: 20em;
	margin-left: -9.75em;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color: rgba(255,255,255,0.2);
	font-size: 130%;
	text-align: center;
	opacity: 0.5;
	line-height: 2em;
}

#switcher {
	position: absolute;
	right: 20px;
	top: 73px;
	z-index: 100;
	height: 30px;
	border: 1px solid #B4B6B9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #B4B6B9;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1.0, rgba(255,255,255,0)));
	background-image: -moz-linear-gradient(left bottom, #ffffff 0%, rgba(255,255,255,0) 100%);
	list-style: none;
	-webkit-box-shadow: 7px 7px 7px rgba(0,0,0,0.15);
	-moz-box-shadow: 7px 7px 7px rgba(0,0,0,0.15);
	box-shadow: 7px 7px 7px rgba(0,0,0,0.15);
}

#switcher li {
	float: left;
}

#switcher li a {
	display: block;
	height: 31px;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #B4B6B9;
	padding: 0 1.5em;
	background-color: #B4B6B9;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1.0, rgba(255,255,255,0)));
	background-image: -moz-linear-gradient(left bottom, #ffffff 0%, rgba(255,255,255,0) 100%);
	color: #4C5258;
	font-size: 90%;
	font-weight: bold;
	line-height: 34px;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 1px 1px 0 #ffffff;
	-webkit-transition: background-color 0.2s linear;
	-moz-transition: background-color 0.2s linear;
	transition: background-color 0.2s linear;
}

#switcher li a:hover {
	background-color: #919599;
}

#switcher li:first-child a {
	border-left: 0 none #ffffff;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
}

#switcher li:last-child a {
	border-right: 0 none #ffffff;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-right-radius: 4px;
}

#switcher li.on a {
	border-left-color: transparent;
	background-color: #808488;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #808488), color-stop(1.0, #B4B6B9));
	background-image: -moz-linear-gradient(left bottom, #808488 0%, #B4B6B9 100%);
	color: #ffffff;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.5);
	cursor: default;
}

#roomContent {
	display: table;
	position: relative;
  width: 100%;
  padding-top: 98px;
  padding-bottom: 20px;
  opacity: 0;
  -webkit-transition: opacity 0.6s linear;
  -moz-transition: opacity 0.6s linear;
  transition: opacity 0.6s linear;
}

#roomContent.on {
  opacity: 1;
}

#roomContent.touching {
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;	
}

#roomContent.touchGlide {
	-webkit-transition: left 0.5s ease, -webkit-transform 0.5s ease-out;
	-moz-transition: left 0.5s ease;
	transition: left 0.5s ease;
}

#roomList {
	display: table-row;
	list-style: none;
}

#roomList > li {
	display: inline-block;
	padding: 0 20px 40px 20px;
	vertical-align: top;
}

.ios #roomList > li {
	opacity: 1;
}

#roomList > li > .anchor {
	display: block;
	position: relative;
	top: 30px;
	z-index: 3;
	width: 16em;
	border: 2px solid #ffffff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 1em;
	background-color: #ffffff;
	color: #7f96b9;
	text-align: left;
	text-decoration: none;
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 15px rgba(0,0,0,0.5);
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
	-webkit-transition: border-color 0.3s ease-out, opacity 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
	-moz-transition: border-color 0.3s ease-out, opacity 0.3s ease-out, -moz-box-shadow 0.3s ease-out;
	transition: border-color 0.3s ease-out, opacity 0.3s ease-out, box-shadow 0.3s ease-out;
	cursor: pointer;
}

.ios #roomList > li > .anchor {
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

#roomList > .hilite > .anchor {
	z-index: 4 !important;
	border-color: #ffcc00;
	-webkit-box-shadow: 0 0 25px rgba(255,204,0,1);
	-moz-box-shadow: 0 0 25px rgba(255,204,0,1);
	box-shadow: 0 0 25px rgba(255,204,0,1);
	opacity: 1 !important;
}

.notIos #roomList > li > .anchor:hover, .ios #roomList > li > .anchor:focus {
	z-index: 4 !important;
	border-color: #00A5FF;
	-webkit-box-shadow: 0 0 25px rgba(0,165,255,1);
	-moz-box-shadow: 0 0 25px rgba(0,165,255,1);
	box-shadow: 0 0 25px rgba(0,165,255,1);
	opacity: 1 !important;
}

#roomList > .inactive > .anchor, #roomList > .future > .anchor {
	z-index: 2;
/*	font-size: 75%;*/
/*	opacity: 0.6;*/
}

#roomList li .anchor > a {
	display: block;
	margin-right: 0.5em;
	color: #316493;
	font-size: 200%;
	font-family: GS, Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.1;
	text-decoration: none;
}

#roomList li .anchor > a:before {
	content: '';
	position: absolute;
	right: 6px;
	top: 6px;
	width: 0.45em;
	height: 0.45em;
	background-image: url(/images/room_status_grey_lrg.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

#roomList .active .anchor > a:before {
	background-image: url(/images/room_status_green_lrg.png);
}

#roomList .future .anchor > a:before {
	background-image: url(/images/room_status_orange_lrg.png);
}

#roomList h2 {
	color: #00A5FF;
	font-size: 140%;
	font-family: GS, Arial, Helvetica, sans-serif;
	font-weight: normal;
	line-height: 1.2;
}

#roomList time {
	display: block;
	margin-top: 0.2em;
	color: #316493;
	font-size: 110%;
	font-family: GS, Arial, Helvetica, sans-serif;
}

#roomList .contributors {
	display: block;
	margin: 1.2em 0 1.3em 0;
	border-top: 1px solid #cfd8e5;
	border-bottom: 1px solid #cfd8e5;
	padding: 0.6em 0 0.5em 0;
}

#roomList .contributors h2 {
  display: inline;
	color: #7f96b9;
	font-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

#roomList .contributors ul {
  display: inline;
	overflow: hidden;
	margin-top: 0.3em;
	list-style: none;
}

#roomList .contributors li {
	display: inline;
  color: #316493;
}

#roomList .contributors img {
	float: left;
	margin: 0 6px 6px 0;
	border: 2px solid #ffffff;
	-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.25);
}

#roomList .topics h2 {
	color: #7f96b9;
	font-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

#roomList .topics ol {
	list-style: none;
}

#roomList .topics li {
	display: inline-block;
	color: #316493;
	margin-right: 0.3em;
}

#roomList .topics .rank1 {
	font-size: 160%;
}

#roomList .topics .rank2 {
	font-size: 130%;
}

#roomList .topics .rank3 {
	font-size: 100%;
}

#roomList .topics .link {
	margin-top: 0.3em;
	color: #00A5FF;
	font-weight: bold;
}

#roomList .topics .link:hover {
	text-decoration: underline;
}

#topicContent {
  position: absolute;
  left: 0;
  right: 0;
  top: 53px;
  bottom: 0;
  opacity: 0;
  -webkit-transition: opacity 0.6s linear;
  -moz-transition: opacity 0.6s linear;
  transition: opacity 0.6s linear;
}

#topicContent.on {
  opacity: 1;
}

#topicContent .callToAction {
	position: absolute;
	top: 22px;
	left: 20px;
  width: auto;
  margin-left: 0;
  background-color: transparent;
	font-size: 130%;
	line-height: 2em;
  text-align: left;
  -webkit-transition: opacity 0.6s linear;
  -moz-transition: opacity 0.6s linear;
  transition: opacity 0.6s linear;
}

#topicContent .callToAction.off {
  opacity: 0;
}

#topicList {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	list-style: none;
}

#topicList li {
	position: absolute;
	left: 50%;
	top: 50%;
	font-size: 150%;
}

#topicList li.rank1 {
	font-size: 600%;
}

#topicList li.rank2 {
	font-size: 375%;
}

#topicList li.rank3 {
	font-size: 250%;
}

#topicList a {
	display: block;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border-radius: 6px;
	padding: 0 0.3em;
	color: #cccccc;
	text-decoration: none;
	background-color: rgba(255,255,255,0.25);
	-webkit-box-shadow: 7px 7px 7px rgba(0,0,0,0.15);
	-moz-box-shadow: 7px 7px 7px rgba(0,0,0,0.15);
	box-shadow: 7px 7px 7px rgba(0,0,0,0.15);
	-webkit-transition: all 0.6s linear;
	-moz-transition: all 0.6s linear;
	transition: all 0.6s linear;
}

#topicList li.on a {
	background-color: #00A6FF;
	color: #ffffff;
}

.snippet {
	position: absolute;
	z-index: 25;
	width: 15em;
	min-height: 110px;
	padding: 0.9em 1em 1em 1em;
	color: #4C5258;
	font-size: 140%;
	text-align: left;
  -webkit-transition: opacity 0.6s linear;
  -moz-transition: opacity 0.6s linear;
  transition: opacity 0.6s linear;
}

.snippet .cloud {
	position: absolute;
	left: -15%;
	top: -15%;
	z-index: -1;
	width: 135%;
	height: 140%;
	opacity: 0;
	-webkit-transition: opacity 1s linear;
	-moz-transition: opacity 1s linear;
	transition: opacity 1s linear;
}

.snippet .avatar {
	float: left;
	margin: 0.1em 0.6em 0.1em 0;
}

.snippet .cloudPointer1 {
	position: absolute;
	left: 50%;
	top: 116%;
	width: 23px;
	height: 23px;
	margin: 28px 0 0 -3px;
	background-image: url(/images/cloud_pointer1.png);
	background-repeat: no-repeat;
  opacity: 0;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  transition: opacity 1s linear;
}

.snippet.flipped .cloudPointer1 {
  top: -25%;
  margin-top: -20px;
  margin-left: -6px;
}

.snippet .cloudPointer2 {
	position: absolute;
	left: 50%;
	top: 116%;
	width: 35px;
	height: 35px;
	margin-left: -12px;
	background-image: url(/images/cloud_pointer2.png);
	background-repeat: no-repeat;
  opacity: 0;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  transition: opacity 1s linear;
}

.snippet.flipped .cloudPointer2 {
  top: -25%;
  margin-left: -6px;
}

.snippet .content {
  opacity: 0;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  transition: opacity 1s linear;
}

.snippet .content .text span {
  opacity: 0;
  -webkit-transition: opacity 0.6s linear;
  -moz-transition: opacity 0.6s linear;
  transition: opacity 0.6s linear;
}