
/* GENERAL ========================================= */

/* Zero default margin & padding around common elements */
article, blockquote, body, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, header, li, nav, ol, p, section, ul {
	margin: 0;
	border: 0 none #FFFFFF;
	padding: 0;
}

html {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #4D5158;
	background-image: url(/images/body.gif);
	color: #ffffff;
	line-height: 1.4;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 85%;
	text-align: center;
}

a {
	color: #00a6ff;
	text-decoration: underline;
}

a:visited {
	color: #9966cc;
}

a:hover {
	text-decoration: none;
}

img {
	border: 0 none transparent;
}

input, select, table, textarea {
	font-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

#mobileCheck {
	position: absolute;
	width: 0;
	height: 0;
}

#page {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}




/* HEADER ========================================= */

header {
	position: absolute;
	left: 0;
	width: 100%;
	height: 53px;
	background-color: #ffffff;
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0.2, #ededee),
		color-stop(0.7, #ffffff)
	);
	background-image: -moz-linear-gradient(left center,#ededee 0%, #ffffff 70%);
	text-align: left;
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 15px rgba(0,0,0,0.5);
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

header > h1 {
	float: left;
	width: 255px;
	height: 53px;
	background-image: url(/images/logo.png);
	background-repeat: no-repeat;
	text-indent: -9999px;
}

header > h2 {
	position: absolute;
	top: 15px;
	left: 270px;
	color: #4D5158;
	font-size: 143%;
	font-family: GS, Arial, Helvetica, sans-serif;
	font-weight: normal;
	white-space: nowrap;
	opacity: 0.4;
}

#corporateLogo {
	position: absolute;
	right: 0;
	top: 7px;
	width: 188px;
	height: 43px;
	background-image: url(/images/webstock.gif);
	background-repeat: no-repeat;
	text-indent: -9999px;
}




/* CONTENT ========================================= */

#callToAction {
	position: absolute;
	top: 70px;
	left: 50%;
	width: 20em;
	margin-left: -9.75em;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color: rgba(255,255,255,0.2);
	font-size: 130%;
	text-align: center;
	opacity: 0.5;
	line-height: 2em;
}

#content {
	display: table;
	position: relative;
	-webkit-transition: left 1s ease, -webkit-transform 1s ease-out;
	-moz-transition: left 1s ease;
	transition: left 1s ease;
}

#content.touching {
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;	
}

#content.touchGlide {
	-webkit-transition: left 0.5s ease, -webkit-transform 0.5s ease-out;
	-moz-transition: left 0.5s ease;
	transition: left 0.5s ease;
}

#roomList {
	display: table-row;
	list-style: none;
}

#roomList > li {
	display: table-cell;
	opacity: 0;
	padding: 0 1.5em 0 1.5em;
	vertical-align: middle;
}

.ios #roomList > li {
	opacity: 1;
}

#roomList > li:first-child {
	padding-left: 3em;
}

#roomList > li:last-child {
	padding-right: 3em;
}

#roomList > li > .anchor {
	display: block;
	position: relative;
	top: 30px;
	z-index: 3;
	width: 16em;
	border: 2px solid #ffffff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 1em;
	background-color: #ffffff;
	color: #7f96b9;
	text-align: left;
	text-decoration: none;
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 15px rgba(0,0,0,0.5);
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
	-webkit-transition: border-color 0.3s ease-out, opacity 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
	-moz-transition: border-color 0.3s ease-out, opacity 0.3s ease-out, -moz-box-shadow 0.3s ease-out;
	transition: border-color 0.3s ease-out, opacity 0.3s ease-out, box-shadow 0.3s ease-out;
	cursor: pointer;
}

.ios #roomList > li > .anchor {
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

#roomList > .hilite > .anchor {
	z-index: 4 !important;
	border-color: #ffcc00;
	-webkit-box-shadow: 0 0 25px rgba(255,204,0,1);
	-moz-box-shadow: 0 0 25px rgba(255,204,0,1);
	box-shadow: 0 0 25px rgba(255,204,0,1);
	opacity: 1 !important;
}

.notIos #roomList > li > .anchor:hover, .ios #roomList > li > .anchor:focus {
	z-index: 4 !important;
	border-color: #00A5FF;
	-webkit-box-shadow: 0 0 25px rgba(0,165,255,1);
	-moz-box-shadow: 0 0 25px rgba(0,165,255,1);
	box-shadow: 0 0 25px rgba(0,165,255,1);
	opacity: 1 !important;
}

#roomList > .inactive > .anchor, #roomList > .future > .anchor {
	z-index: 2;
/*	font-size: 75%;*/
	opacity: 0.6;
}

#roomList li .anchor > a {
	display: block;
	margin-right: 0.5em;
	color: #316493;
	font-size: 200%;
	font-family: GS, Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.1;
	text-decoration: none;
}

#roomList li .anchor > a:before {
	content: '';
	position: absolute;
	right: 6px;
	top: 6px;
	width: 0.45em;
	height: 0.45em;
	background-image: url(/images/room_status_grey_lrg.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

#roomList .active .anchor > a:before {
	background-image: url(/images/room_status_green_lrg.png);
}

#roomList .future .anchor > a:before {
	background-image: url(/images/room_status_orange_lrg.png);
}

#roomList h2 {
	color: #00A5FF;
	font-size: 140%;
	font-family: GS, Arial, Helvetica, sans-serif;
	font-weight: normal;
	line-height: 1.2;
}

#roomList time {
	display: block;
	margin-top: 0.2em;
	color: #316493;
	font-size: 110%;
	font-family: GS, Arial, Helvetica, sans-serif;
}

#roomList .contributors {
	display: block;
	margin: 1.2em 0 1.3em 0;
	border-top: 1px solid #cfd8e5;
	border-bottom: 1px solid #cfd8e5;
	padding: 0.6em 0 0.5em 0;
}

#roomList .contributors h2 {
	color: #7f96b9;
	font-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

#roomList .contributors ul {
	overflow: hidden;
	margin-top: 0.3em;
	list-style: none;
}

#roomList .contributors li {
	display: inline;
}

#roomList .contributors img {
	float: left;
	margin: 0 6px 6px 0;
	border: 2px solid #ffffff;
	-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.25);
}

#roomList .topics h2 {
	color: #7f96b9;
	font-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

#roomList .topics ol {
	list-style: none;
}

#roomList .topics li {
	display: inline-block;
	color: #316493;
	margin-right: 0.3em;
}

#roomList .topics .rank1 {
	font-size: 160%;
}

#roomList .topics .rank2 {
	font-size: 130%;
}

#roomList .topics .rank3 {
	font-size: 100%;
}

#roomList .topics .link {
	margin-top: 0.3em;
	color: #00A5FF;
	font-weight: bold;
}

#roomList .topics .link:hover {
	text-decoration: underline;
}

nav {
	position: absolute;
	bottom: 0;
	left: 80px;
	right: 80px;
	height: 100px;
}

nav > div {
	position: relative;
	margin: 0 auto;
}

#navIndicator {
	position: absolute;
	left: 0;
	width: 0;
	height: 49px;
	top: -7px;
	margin-left: -12px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 0 7px;
	background-color: rgba(255,255,255,0.08);
	-webkit-transition: left 1s ease, -webkit-transform 1s ease-out;
	-moz-transition: left 1s ease;
	transition: left 1s ease;
}

nav.noIndicator #navIndicator {
	visibility: hidden;
}

nav .prev {
	position: absolute;
	left: -50px;
	top: 0;
	width: 22px;
	height: 32px;
	background-image: url(/images/arrow_left.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	text-indent: -9999px;
	opacity: 0.67;
}

nav .prev:hover {
	opacity: 1;
}

nav.noIndicator .prev {
	visibility: hidden;
}

nav ol {
	position: relative;
	height: 35px;
	list-style: none;
}

nav li {
	display: inline;
}

nav li time {
	position: absolute;
	top: -50px;
	width: 5em;
	margin-left: -2.5em;
	opacity: 0.5;
}

nav li time:after {
	content: '';
	position: absolute;
	left: 50%;
	top: 2em;
	width: 1px;
	height: 10px;
	background-color: #ffffff;
	opacity: 0.4;
}

nav li time.day {
	top: auto;
	bottom: -50px;
	width: 10em;
	margin-left: -5em;
	opacity: 0.5;
}

nav li time.day:after {
	top: auto;
	bottom: 2em;
}

nav li a {
	position: absolute;
	top: 0;
	width: 25px;
	height: 35px;
	margin-left: -12px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #676C71;
	text-indent: -9999px;
	-webkit-box-shadow: 0 0 3px #4C5258;
	-moz-box-shadow: 0 0 3px #4C5258;
	box-shadow: 0 0 3px #4C5258;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

nav li a:hover {
	z-index: 2;
	background-color: #999999;
}

nav .next {
	position: absolute;
	right: -50px;
	top: 0;
	width: 22px;
	height: 32px;
	background-image: url(/images/arrow_right.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	text-indent: -9999px;
	opacity: 0.67;
}

nav .next:hover {
	opacity: 1;
}

nav.noIndicator .next {
	visibility: hidden;
}